/* normalize.css */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}
a {
    background-color: transparent;
}
button,
input,
select,
textarea {
    font: inherit;
    margin: 0;
}
button,
input {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
img {
    border-style: none;
}
* {
    box-sizing: border-box;
}
